{% extends 'shortener/base.html' %}
{% load static %}
{% block content %}
    <!-- Analytics file -->
    <div class="container pb-5">
      <div class="row mt-5 text-center">
        <div class="col-sm">
          <h1>Paste your Jiffy URL here.</h1>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm">
          <form method="post" action=".">
            {% csrf_token %}
            <div class="input-group">
              {{ form }}
              <button class="btn btn-outline-primary btn-lg" type="submit">Check Analytics</button>
            </div>
          </form>
        </div>
      </div>

      {% if submitted %}
        {% if not found %}

          <div class="row my-5 text-center">
            <div class="col-sm justify-content-center">
              <img class="img-fluid" src="{% static 'images/error.png' %}">
              <h5 class="card-title">May be you've pasted wrong link</h5>
            </div>
          </div>

        {% else %}

          <div class="row mb-5">
            <div class="col-sm">
                <div class="input-group mt-4">
                    <input id="short-url" class="form-control mr-2 form-control-lg" type="text" value={{ object.get_url }} readonly>
                    <button class="btn btn-outline-success btn-lg" onclick="copyLink()">Copy Original Link</button>
                </div>
            </div>
          </div>

          <div class="row my-5 pt-4 text-center">
            <div class="col-sm">
              <h2>Analytics</h2>
            </div>
          </div>

          <div class="row mb-5 pb-5">
            <div class="col-sm my-auto justify-content-center">
              <div class="card-deck">
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title">
                      {% if object.clickevent.click_count %}
                        {{ object.clickevent.click_count }}
                      {% else %}
                        0
                      {% endif %}
                    </h5>
                    <p class="card-text">Clicks</p>
                  </div>
                </div>
                {% if object.active %}
                  <div class="card text-center bg-success">
                    <div class="card-body">
                      <h5 class="card-title status-text">Yes</h5>
                      <p class="card-text status-text">Active</p>
                    </div>
                  </div>
                {% else %}
                  <div class="card text-center bg-danger">
                    <div class="card-body">
                      <h5 class="card-title status-text">No</h5>
                      <p class="card-text status-text">Active</p>
                    </div>
                  </div>
                {% endif %}
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title">{{ object.get_date_of_creation }}</h5>
                    <p class="card-text">Created</p>
                  </div>
                </div>
                <div class="card text-center">
                  <div class="card-body">
                    <h5 class="card-title">{{ object.get_date_of_expiry }}</h5>
                    <p class="card-text">Expiry</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% endif %}
      {% endif %}
    </div>
    <!-- End Analytics file -->
{% endblock %}