{% extends 'shortener/base.html' %}
{% load static %}
{% block content %}
    <!-- Home file -->
    <div class="container">

      <div class="row my-5 pb-5">
        <div class="col-sm my-auto justify-content-center">
          <h1>Link shortening, simplified.</h1>
          <h4>Create secure & reliable short links with a single click.</h4>
          <br>
          <a href="{% url 'shortener' %}">
            <button class="btn btn-primary btn-lg" id="shorten-url-button">Shorten URL</button>
          </a>
        </div>
        <div class="col-sm my-auto justify-content-center">
            <img class="img-fluid" src="{% static 'images/done.png' %}">
        </div>
      </div>

      <div class="row my-5 pt-5 text-center">
        <div class="col-sm">
          <h2>How it works</h2>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-2 mb-5 pb-5">
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Simple & Fast</h5>
              <p class="card-text">Jiffy URL allows you to shorten long links from any sites on the Internet, just paste the long URL and click the Shorten button. Copy the shortened URL and share it on the websites, chats and e-mails. After shortening the URL, check how many clicks it received using our analytics.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Shorten, share & track</h5>
              <p class="card-text">Your shortened URLs can be used in publications, advertisements, blogs, forums, e-mails, instant messages, and other locations. Track statistics for your business and projects by monitoring the number of hits from your URL with the click counter, for that you do not have to register.</p>
            </div>
          </div>
        </div>
      </div>

      {% if not created %}
      <div class="row my-5 pt-5 text-center">
        <div class="col-sm">
          <h2>Trusted by many people</h2>
        </div>
      </div>

      <div class="row mb-5 pb-5">
        <div class="col-sm my-auto justify-content-center">
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">{{ object.get_total_link_shortened_count }}</h5>
                  <p class="card-text">Links created so far.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">{{ object.get_total_redirect_count }}</h5>
                  <p class="card-text">Times clicked our link.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm my-auto justify-content-center">
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">7</h5>
                  <p class="card-text">Happy customer.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">1</h5>
                  <p class="card-text">Donated this service.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="row my-5 pt-5 text-center">
        <div class="col-sm">
          <h2>Features</h2>
        </div>
      </div>

      <div class="row mb-5 pb-5">
        <div class="col-sm my-auto justify-content-center">
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Easy</h5>
                  <p class="card-text">Jiffy URL is easy and fast, enter the long link to get your shortened link.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Secure</h5>
                  <p class="card-text">It is fast and secure, our service have HTTPS protocol and data encryption.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm my-auto justify-content-center">
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Statistics</h5>
                  <p class="card-text">Check the amount of clicks that your shortened url received.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Devices</h5>
                  <p class="card-text">Compatible with smartphones, tablets and desktop. Use it anywhere.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Home file -->
{% endblock %}